# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Logs
logs/*
!logs/.gitkeep

# Environment
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/